n8n-workflows/blog-summariser-workflow.json
{
  "nodes": [
    {
      "id": "1",
      "parameters": {
        "httpMethod": "POST",
        "path": "blog-extractor",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "id": "2",
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "timeout": 30000,
          "headers": {
            "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36",
            "Accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8",
            "Accept-Language": "en-US,en;q=0.5",
            "Accept-Encoding": "gzip, deflate",
            "Connection": "keep-alive",
            "Upgrade-Insecure-Requests": "1"
          }
        }
      },
      "name": "Fetch Blog Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [400, 300]
    },
    {
      "id": "3",
      "parameters": {
        "functionCode": "<!KEEP AS IS>"
      },
      "name": "Extract Blog Content",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [600, 300]
    },
    {
      "id": "4",
      "parameters": {
        "url": "https://api.openai.com/v1/chat/completions",
        "method": "POST",
        "authentication": "none",
        "responseFormat": "json",
        "jsonParameters": true,
        "options": {
          "timeout": 60000
        },
        "headers": [
          { "name": "Content-Type", "value": "application/json" },
          { "name": "Authorization", "value": "Bearer {{ $env.OPENAI_API_KEY }}" }
        ],
        "bodyParametersJson": "{\n  \"model\": \"gpt-3.5-turbo\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a professional content summarizer. Create a concise, informative summary in English. The summary should be 3-4 sentences long, capture the main points, and focus on key insights and important information. Make sure the summary is coherent and well-structured.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Please summarize this blog post:\\n\\nTitle: {{ $json.title }}\\n\\nContent: {{ $json.content }}\"\n    }\n  ],\n  \"max_tokens\": 400,\n  \"temperature\": 0.7\n}"
      },
      "name": "Generate English Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [800, 300]
    },
    {
      "id": "5",
      "parameters": {
        "functionCode": "<!KEEP AS IS>"
      },
      "name": "Extract English Summary",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1000, 300]
    },
    {
      "id": "6",
      "parameters": {
        "url": "https://api.openai.com/v1/chat/completions",
        "method": "POST",
        "authentication": "none",
        "responseFormat": "json",
        "jsonParameters": true,
        "options": {
          "timeout": 60000
        },
        "headers": [
          { "name": "Content-Type", "value": "application/json" },
          { "name": "Authorization", "value": "Bearer {{ $env.OPENAI_API_KEY }}" }
        ],
        "bodyParametersJson": "{\n  \"model\": \"gpt-3.5-turbo\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a professional translator specializing in English to Urdu translation. Translate the given English text to clear, readable Urdu. Maintain the meaning and tone of the original text. Use proper Urdu grammar and vocabulary. Ensure the translation is natural and flows well in Urdu.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Please translate this English summary to Urdu:\\n\\n{{ $json.englishSummary }}\"\n    }\n  ],\n  \"max_tokens\": 600,\n  \"temperature\": 0.3\n}"
      },
      "name": "Translate to Urdu",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1200, 300]
    },
    {
      "id": "7",
      "parameters": {
        "functionCode": "<!KEEP AS IS>"
      },
      "name": "Format Final Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1400, 300]
    },
    {
      "id": "8",
      "parameters": {
        "functionCode": "<!KEEP AS IS>"
      },
      "name": "Handle Error",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [600, 450]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Fetch Blog Content", "type": "main", "index": 0 }]]
    },
    "Fetch Blog Content": {
      "main": [[{ "node": "Extract Blog Content", "type": "main", "index": 0 }]],
      "error": [[{ "node": "Handle Error", "type": "main", "index": 0 }]]
    },
    "Extract Blog Content": {
      "main": [[{ "node": "Generate English Summary", "type": "main", "index": 0 }]],
      "error": [[{ "node": "Handle Error", "type": "main", "index": 0 }]]
    },
    "Generate English Summary": {
      "main": [[{ "node": "Extract English Summary", "type": "main", "index": 0 }]],
      "error": [[{ "node": "Handle Error", "type": "main", "index": 0 }]]
    },
    "Extract English Summary": {
      "main": [[{ "node": "Translate to Urdu", "type": "main", "index": 0 }]]
    },
    "Translate to Urdu": {
      "main": [[{ "node": "Format Final Response", "type": "main", "index": 0 }]],
      "error": [[{ "node": "Handle Error", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": {},
  "name": "Blog Summariser (Enhanced)"
}
